<!DOCTYPE html>
<html>
  <head>
    <title>NotBluthsBananas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="banner">
      <%= image_tag "bluth_banner_gif.gif", class: "banner-img" %>
    </div>

    <ul class="nav">
      <li><a href="<%= bananas_path %>">Bananas</a></li>
      <li><a href="<%= new_banana_path %>">Create Banana</a></li>
      <li><a href="<%= new_order_path %>">Place Order</a></li>
    </ul>

    <%= yield %>
  </body>
</html>
